*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/youtube-extractor/build
/captures
/syncr-core/build
/tv_theatre_app/build
.idea/deploymentTargetDropDown.xml
.externalNativeBuild
.cxx
local.properties
build